<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- la propiedad lazy no carga inicialmente el bean sino que lo genera hasta que se hace un getBean y solo aplica en el scope singletons -->
	<bean id="persona" class="com.mitocode.beans.Persona" autowire="byName" scope="singleton" lazy-init="true">
		<property name="id" value="1"></property>
		<property name="name" value="Viri"></property>
		<property name="apodo" value="mo"></property>
	</bean>
	
	<bean id="pais" class="com.mitocode.beans.Pais">
		<property name="pais" value="Mexico"></property>
	</bean>

	<bean id="ciudad" class="com.mitocode.beans.Ciudad">
		<property name="nombre" value="toluca"></property>
	</bean>

</beans>