<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="mundo" class="com.mitocode.beans.Mundo">
		<property name="saludo" value="Hola desde spring mojarrito!"></property>
	</bean>
	
	<bean id="persona" class="com.mitocode.beans.Persona">
		<property name="pais">
		<bean id="country" class="com.mitocode.beans.Pais">
			<property name="pais" value="Mexico"></property>
			<property name="ciudad">
				<bean id="ciu" class="com.mitocode.beans.Ciudad">
					<property name="nombre" value="toluca"></property>
				</bean>
			</property>
		</bean>
		</property>
		<property name="id" value="1"></property>
		<property name="name" value="Viri"></property>
		<property name="apodo" value="mo"></property>
	</bean>
</beans>
