<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="mundo" class="com.mitocode.beans.Mundo">
		<property name="saludo" value="Hola desde spring mojarrito!"></property>
	</bean>

	<!-- En el byName deben coinicidir el name como el nombre del objeto -->
	<!-- <bean id="persona" class="com.mitocode.beans.Persona" autowire="byName"> 
		<property name="id" value="1"></property> <property name="name" value="Viri"></property> 
		<property name="apodo" value="mo"></property> </bean> -->

	<!-- En el byType busca por tipo pero si tenemos 2 beans con el mismo tipo 
		genera error -->
	<bean id="persona" class="com.mitocode.beans.Persona" autowire="byType">
		<property name="id" value="1"></property>
		<property name="name" value="Viri"></property>
		<property name="apodo" value="mo"></property>
	</bean>

	
	<bean id="pais" class="com.mitocode.beans.Pais">
		<property name="pais" value="Mexico"></property>
	</bean>

	<bean id="ciudad" class="com.mitocode.beans.Ciudad">
		<property name="nombre" value="toluca"></property>
	</bean>

</beans>